.footer {
    background-color: #d8e5f8;
    /* padding: 12px 15px; */
    color: #1a3e72;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 10;
  }
  
  .footer-link {
    color: var(--text-h2);
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  