.recent-letters {
    background-color: var(--bg-secondary);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    flex: 2;
    box-shadow: 0 0 6px rgb(0 0 0 / 0.1);
    overflow-x: auto;
    min-width: 320px;
  }
  
  .recent-letters h2 {
    margin-bottom: 15px;
    color: var(--text-h2);
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
  }
  
  thead, td {
    padding: 12px 15px;
    /* border-bottom: 1px solid #e0e0e0; */
    text-align: left;
    /* font-weight: 500; */
  }
  
  thead {
    background-color: var(--thead-bg);
    color: var(--thead-text);
    font-weight: 700;
  }
 .recent-letters table thead tr:hover {
    background-color: var(--thead-hover-bg);
    cursor: default;
    transition: background-color 0.2s ease;
}
  .approvals-table table thead tr {
    background-color: var(--thead-bg);
  }
  
  .status-badge {
    padding: 5px 12px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    display: inline-block;
  }
  
  .recent-letters tbody tr {
    background-color: var(--bg-primary);
  }

  .recent-letters table tbody tr:hover {
  background-color: var(--bg-secondary) !important;
  cursor: pointer;
  transition: background-color 0.2s ease;
}